# MODEL 1 .Data validation and pre-processing

In [1]:
#import package
import pandas as pd
import numpy as ny

In [2]:
#read dataset
data = pd.read_csv('water.csv')

In [3]:
# view head
data.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [4]:
#view tail
data.tail()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
7994,0.05,7.78,0.00,1.95,0.04,0.10,0.03,0.03,1.37,0.0,...,0.197,14.29,1.0,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.01,0.45,0.02,0.02,1.48,0.0,...,0.031,10.27,1.0,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.03,0.05,0.05,0.02,0.91,0.0,...,0.182,15.92,1.0,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.00,2.00,0.00,0.09,0.00,0.0,...,0.000,0.00,0.0,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.03,0.05,0.01,0.03,1.00,0.0,...,0.182,15.92,1.0,0.000,1.35,4.84,0.00,0.04,0.05,1

In [5]:
# shape of the project
data.shape

(7999, 21)

In [6]:
# size ofthe data
data.size

167979

In [7]:
#columns
data.columns

Index(['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'is_safe'],
      dtype='object')

In [8]:
data.isnull()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

aluminium      0
ammonia        0
arsenic        0
barium         0
cadmium        0
chloramine     0
chromium       0
copper         0
flouride       0
bacteria       0
viruses        0
lead           0
nitrates       0
nitrites       0
mercury        0
perchlorate    0
radium         0
selenium       0
silver         0
uranium        0
is_safe        0
dtype: int64

In [10]:
data.dropna()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [11]:
# information about dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [12]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7994    False
7995    False
7996    False
7997    False
7998    False
Length: 7999, dtype: bool

In [13]:
data.duplicated().sum()

0

In [14]:
# describe 
data.describe()

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
count,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000
mean,0.666158,0.161445,1.567715,0.042806,2.176831,0.247226,0.805857,0.771565,0.319665,0.328583,0.099450,9.818822,1.329961,0.005194,16.460299,2.920548,0.049685,0.147781,0.044673
std,1.265145,0.252590,1.216091,0.036049,2.567027,0.270640,0.653539,0.435373,0.329485,0.378096,0.058172,5.541331,0.573219,0.002967,17.687474,2.323009,0.028770,0.143551,0.026904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.040000,0.030000,0.560000,0.008000,0.100000,0.050000,0.090000,0.405000,0.000000,0.002000,0.048000,5.000000,1.000000,0.003000,2.170000,0.820000,0.020000,0.040000,0.020000
50%,0.070000,0.050000,1.190000,0.040000,0.530000,0.090000,0.750000,0.770000,0.220000,0.008000,0.102000,9.930000,1.420000,0.005000,7.740000,2.410000,0.050000,0.080000,0.050000
75%,0.280000,0.100000,2.480000,0.070000,4.240000,0.440000,1.390000,1.160000,0.610000,0.700000,0.151000,14.610000,1.760000,0.008000,29.480000,4.670000,0.070000,0.240000,0.070000
max,5.050000,1.050000,4.940000,0.130000,8.680000,0.900000,2.000000,1.500000,1.000000,1.000000,0.200000,19.830000,2.930000,0.010000,60.010000,7.990000,0.100000,0.500000,0.090000

In [15]:
data['arsenic'].nunique()

107

In [16]:
data['barium'].nunique()

480

In [17]:
data["uranium"].nunique()

10

In [18]:
# check the unique values
data["aluminium"].nunique()

495

In [19]:
data["viruses"].nunique()

61

In [20]:
data["mercury"].nunique()

11

In [21]:
data["silver"].unique()

array([0.34, 0.27, 0.44, 0.45, 0.06, 0.19, 0.24, 0.08, 0.25, 0.31, 0.33,
       0.48, 0.38, 0.05, 0.47, 0.12, 0.4 , 0.41, 0.1 , 0.13, 0.01, 0.16,
       0.18, 0.5 , 0.26, 0.17, 0.2 , 0.11, 0.3 , 0.37, 0.35, 0.04, 0.46,
       0.  , 0.43, 0.42, 0.03, 0.28, 0.02, 0.21, 0.32, 0.09, 0.15, 0.14,
       0.29, 0.22, 0.39, 0.36, 0.23, 0.07, 0.49])

In [22]:
data["mercury"].unique()

array([0.007, 0.003, 0.006, 0.004, 0.001, 0.01 , 0.009, 0.008, 0.002,
       0.005, 0.   ])

In [23]:
data["arsenic"].unique()

array([4.00e-02, 1.00e-02, 3.00e-02, 2.00e-02, 1.00e-03, 5.00e-02,
       3.10e-01, 3.50e-01, 4.80e-01, 8.70e-01, 1.70e-01, 2.10e-01,
       8.10e-01, 8.80e-01, 6.60e-01, 7.00e-01, 5.40e-01, 4.00e-01,
       5.70e-01, 3.70e-01, 1.00e-01, 9.90e-01, 2.50e-01, 7.70e-01,
       2.90e-01, 4.90e-01, 5.90e-01, 6.50e-01, 6.80e-01, 3.00e-01,
       9.30e-01, 8.40e-01, 1.60e-01, 4.60e-01, 1.50e-01, 2.20e-01,
       7.10e-01, 7.90e-01, 8.00e-02, 5.30e-01, 3.60e-01, 5.20e-01,
       6.00e-02, 9.20e-01, 5.60e-01, 4.40e-01, 3.90e-01, 6.70e-01,
       8.60e-01, 7.50e-01, 9.60e-01, 8.00e-01, 8.90e-01, 7.40e-01,
       4.70e-01, 4.30e-01, 5.10e-01, 1.20e-01, 7.80e-01, 6.30e-01,
       7.60e-01, 3.30e-01, 1.80e-01, 9.10e-01, 9.50e-01, 6.10e-01,
       7.30e-01, 2.70e-01, 1.03e+00, 1.01e+00, 9.00e-02, 2.80e-01,
       6.00e-01, 1.04e+00, 9.80e-01, 5.80e-01, 7.00e-02, 6.20e-01,
       8.50e-01, 3.80e-01, 4.10e-01, 9.70e-01, 2.60e-01, 3.40e-01,
       1.00e+00, 2.00e-01, 1.10e-01, 8.30e-01, 4.20e-01, 1.40e-01,
       1.05e+00, 4.50e-01, 6.40e-01, 9.40e-01, 2.40e-01, 1.30e-01,
       6.90e-01, 5.00e-01, 2.30e-01, 9.00e-01, 1.90e-01, 1.02e+00,
       8.20e-01, 3.20e-01, 7.20e-01, 5.50e-01, 0.00e+00])

In [24]:
data["uranium"].unique()

array([0.02, 0.05, 0.01, 0.08, 0.07, 0.06, 0.03, 0.  , 0.04, 0.09])

In [25]:
data["chloramine"].unique()

array([0.35, 5.28, 4.24, 7.23, 2.67, 0.8 , 1.28, 6.22, 3.14, 6.4 , 5.75,
       0.1 , 0.05, 0.7 , 5.99, 1.94, 5.29, 7.78, 1.21, 0.01, 4.57, 3.47,
       3.74, 7.24, 4.07, 7.22, 2.55, 2.87, 6.63, 2.78, 5.87, 2.86, 4.  ,
       4.25, 7.75, 4.55, 4.94, 0.64, 4.3 , 2.24, 2.4 , 2.9 , 3.58, 2.99,
       5.71, 1.26, 5.38, 0.22, 6.11, 0.68, 7.7 , 5.47, 7.97, 6.19, 4.08,
       2.49, 0.9 , 4.5 , 0.88, 1.13, 3.85, 6.16, 7.06, 3.43, 4.4 , 4.89,
       6.57, 2.15, 2.38, 4.77, 7.81, 2.79, 1.78, 1.97, 3.4 , 4.41, 5.27,
       3.35, 2.69, 6.06, 7.56, 3.55, 0.13, 7.52, 3.57, 6.02, 1.12, 6.1 ,
       0.19, 1.85, 3.32, 1.89, 0.46, 4.8 , 4.59, 6.25, 4.54, 5.22, 1.86,
       7.37, 7.36, 3.07, 2.89, 6.75, 3.2 , 3.11, 1.33, 4.43, 6.6 , 0.63,
       5.07, 5.14, 0.4 , 4.13, 2.52, 3.71, 1.87, 7.09, 2.26, 0.41, 3.42,
       5.65, 5.72, 0.89, 1.57, 2.74, 0.79, 7.8 , 3.49, 3.83, 3.81, 1.69,
       6.21, 1.07, 0.5 , 3.95, 7.59, 0.98, 4.95, 2.45, 1.36, 6.5 , 4.68,
       5.1 , 3.61, 4.23, 0.81, 4.06, 4.42, 7.95, 6.45, 0.09, 3.26, 0.85,
       7.12, 3.69, 3.41, 3.1 , 1.53, 1.67, 2.13, 3.08, 7.91, 5.23, 0.07,
       6.2 , 5.48, 0.67, 3.91, 4.98, 0.97, 4.69, 1.49, 0.54, 2.8 , 7.47,
       2.91, 5.92, 6.8 , 1.81, 7.51, 0.92, 6.29, 5.54, 2.58, 5.83, 7.88,
       4.37, 5.17, 6.13, 6.9 , 4.36, 7.14, 5.25, 7.41, 1.44, 0.  , 7.33,
       1.02, 6.81, 4.62, 3.62, 6.69, 6.52, 0.83, 6.93, 4.73, 5.34, 2.84,
       3.45, 5.21, 2.1 , 1.83, 5.42, 7.02, 7.96, 7.07, 6.55, 6.76, 1.66,
       3.5 , 7.16, 6.04, 6.47, 6.99, 1.37, 7.17, 2.16, 6.68, 1.48, 1.09,
       0.57, 4.6 , 5.67, 4.01, 5.06, 0.75, 7.55, 0.76, 1.77, 1.63, 5.61,
       3.33, 1.98, 0.49, 1.6 , 6.56, 6.78, 3.04, 5.95, 4.38, 7.83, 7.43,
       0.71, 6.03, 5.58, 3.  , 3.25, 4.79, 3.48, 6.66, 6.84, 7.58, 2.63,
       2.2 , 2.11, 7.99, 4.78, 2.37, 5.68, 6.49, 4.22, 1.91, 6.37, 3.67,
       7.89, 5.4 , 2.21, 1.42, 4.84, 3.7 , 3.79, 6.89, 0.29, 7.18, 3.44,
       4.02, 6.12, 1.27, 7.65, 6.62, 2.5 , 5.98, 4.76, 6.98, 3.23, 4.93,
       3.03, 5.6 , 7.  , 6.59, 1.8 , 3.05, 2.17, 1.7 , 2.95, 0.73, 7.44,
       6.3 , 0.53, 4.52, 4.99, 5.66, 6.17, 1.54, 4.34, 3.31, 7.38, 4.86,
       7.82, 4.16, 4.87, 1.1 , 2.05, 5.81, 1.68, 1.75, 6.31, 7.93, 3.09,
       1.41, 3.01, 7.85, 3.15, 7.34, 5.3 , 4.33, 0.26, 7.25, 6.64, 4.49,
       1.19, 3.66, 3.65, 0.48, 4.91, 6.44, 5.56, 2.59, 1.64, 7.35, 0.45,
       4.81, 0.17, 4.18, 4.9 , 0.59, 6.42, 4.27, 6.95, 3.99, 2.83, 2.46,
       6.53, 7.57, 3.54, 1.39, 4.71, 6.48, 2.73, 0.06, 4.26, 2.03, 5.45,
       1.58, 6.24, 2.77, 3.93, 7.79, 1.43, 1.73, 6.27, 5.85, 6.71, 1.3 ,
       5.24, 5.89, 1.23, 3.29, 4.15, 5.57, 1.88, 7.3 , 2.94, 2.  , 4.11,
       3.51, 7.21, 6.26, 4.51, 1.74, 4.75, 0.12, 1.03, 1.22, 7.87, 0.25,
       4.1 , 1.04, 2.29, 4.74, 0.21, 0.6 , 5.59, 0.2 , 4.03, 0.66, 5.35,
       0.37, 2.14, 6.  , 1.84, 0.23, 3.96, 5.12, 0.78, 4.7 , 4.56, 3.75,
       7.49, 6.77, 0.93, 2.27, 0.3 , 6.85, 0.39, 4.96, 2.97, 4.85, 2.71,
       2.98, 2.34, 5.  , 0.08, 1.51, 3.78, 0.32, 3.17, 2.07, 3.21, 4.58,
       2.41, 5.73, 6.07, 3.36, 5.88, 2.01, 7.31, 3.88, 2.12, 6.86, 6.7 ,
       3.28, 2.51, 1.11, 5.9 , 1.4 , 5.33, 1.56, 3.3 , 3.37, 3.16, 1.16,
       7.48, 4.63, 7.86, 0.96, 0.34, 2.19, 2.35, 6.23, 7.08, 5.69, 4.39,
       7.54, 6.32, 6.83, 1.82, 3.64, 2.92, 6.92, 6.36, 3.53, 7.05, 1.9 ,
       3.82, 4.35, 6.28, 6.58, 3.98, 2.32, 7.15, 2.7 , 6.79, 1.62, 0.51,
       1.55, 7.92, 3.18, 5.76, 3.02, 6.14, 2.28, 4.05, 0.94, 1.65, 7.74,
       0.95, 1.45, 5.79, 5.11, 3.76, 6.97, 0.14, 6.09, 2.56, 6.35, 4.14,
       4.47, 6.43, 2.62, 7.72, 2.25, 5.64, 0.11, 3.84, 2.88, 0.65, 2.54,
       7.4 , 6.34, 1.35, 1.99, 2.57, 5.01, 1.96, 1.18, 3.52, 5.41, 2.81,
       7.66, 3.27, 0.38, 7.67, 4.97, 6.39, 1.79, 5.18, 2.47, 6.82, 7.42,
       2.96, 0.24, 5.04, 7.63, 5.09, 3.9 , 5.43, 6.15, 7.64, 1.01, 5.19,
       5.31, 1.46, 5.37, 6.54, 3.63, 3.13, 5.02, 0.72, 4.83, 1.5 , 0.42,
       0.16, 1.24, 5.32, 3.89, 4.12, 8.31, 2.93, 5.49, 6.18, 8.39, 8.1 ,
       5.08, 7.61, 0.18, 6.61, 2.08, 2.36, 0.55, 4.61, 7.45, 3.22, 3.86,
       8.09, 2.02, 4.64, 5.26, 5.16, 4.53, 4.44, 2.44, 0.52, 5.82, 1.25,
       1.93, 3.94, 5.15, 1.05, 3.87, 4.21, 4.46, 8.  , 6.73, 3.38, 4.65,
       8.07, 0.69, 1.59, 2.85, 7.53, 1.52, 6.05, 1.92, 4.04, 8.42, 1.  ,
       6.51, 8.08, 7.28, 1.38, 5.91, 8.21, 7.26, 1.95, 7.2 , 7.94, 7.04,
       1.76, 1.29, 1.47, 7.71, 0.84, 5.8 , 2.66, 8.01, 3.34, 7.62, 2.22,
       8.02, 6.41, 7.9 , 4.17, 0.33, 7.76, 2.75, 5.84, 7.01, 3.24, 3.12,
       7.73, 0.82, 6.96, 8.13, 3.19, 8.04, 7.46, 3.92, 1.31, 7.98, 5.52,
       5.2 , 1.34, 2.76, 0.15, 3.06, 3.97, 8.19, 3.8 , 8.2 , 7.39, 4.82,
       0.43, 4.09, 7.68, 0.74, 0.44, 1.72, 7.5 , 8.22, 0.86, 2.04, 8.28,
       5.36, 6.72, 2.6 , 3.72, 6.08, 4.92, 2.72, 8.33, 3.56, 8.17, 7.29,
       3.59, 0.77, 6.67, 2.06, 4.45, 1.71, 4.66, 2.43, 7.69, 5.77, 8.34,
       5.86, 6.38, 7.27, 6.01, 5.53, 0.87, 7.32, 1.08, 5.93, 2.48, 5.44,
       8.66, 7.03, 3.46, 5.13, 5.62, 6.88, 4.67, 6.94, 8.06, 0.61, 5.55,
       8.32, 2.23, 8.43, 2.61, 3.68, 0.36, 8.12, 1.06, 4.48, 2.33, 8.52,
       5.63, 0.03, 1.2 , 8.03, 7.6 , 3.73, 8.47, 5.96, 4.72, 4.19, 6.74,
       2.18, 0.62, 5.97, 2.39, 5.74, 4.28, 8.37, 7.11, 2.68, 7.77, 6.87,
       2.65, 4.88, 6.46, 8.26, 5.05, 0.91, 1.61, 3.6 , 0.31, 1.17, 1.14,
       8.54, 3.77, 5.03, 0.56, 7.13, 8.11, 8.15, 8.24, 8.23, 2.82, 8.05,
       0.47, 8.68, 8.5 , 6.91, 0.02, 0.04, 0.58, 0.28, 0.27])

In [26]:
data["aluminium"].unique()

array([1.65, 2.32, 1.01, 1.36, 0.92, 0.94, 2.36, 3.93, 0.6 , 0.22, 3.27,
       1.35, 1.88, 4.93, 2.89, 0.61, 3.47, 2.11, 4.88, 4.12, 0.68, 1.15,
       0.27, 4.32, 3.31, 1.82, 3.42, 4.41, 4.57, 1.69, 1.87, 2.71, 1.63,
       0.01, 4.49, 3.52, 4.35, 2.51, 2.34, 1.71, 3.45, 3.37, 3.13, 0.29,
       1.51, 1.09, 2.68, 0.3 , 0.23, 2.55, 0.86, 0.24, 3.63, 3.26, 0.42,
       0.77, 0.58, 3.82, 2.78, 3.62, 3.88, 4.64, 2.25, 0.54, 4.62, 2.5 ,
       3.08, 3.03, 2.85, 1.38, 2.73, 3.02, 1.96, 2.35, 2.45, 2.67, 1.12,
       3.3 , 0.43, 1.19, 0.85, 0.5 , 4.75, 1.89, 3.75, 3.32, 1.75, 2.66,
       2.76, 2.63, 0.04, 0.88, 2.22, 4.91, 4.8 , 0.47, 1.62, 0.09, 4.66,
       2.74, 1.79, 4.15, 3.78, 2.91, 4.3 , 3.24, 3.53, 3.04, 2.21, 2.47,
       1.92, 1.22, 2.12, 4.19, 4.21, 4.07, 2.56, 3.55, 3.94, 0.8 , 2.59,
       3.9 , 3.15, 0.18, 3.86, 1.25, 2.29, 0.07, 4.18, 4.34, 2.39, 0.9 ,
       0.89, 2.4 , 3.69, 4.71, 3.36, 4.46, 4.5 , 0.57, 2.69, 2.17, 1.32,
       5.  , 2.6 , 0.35, 3.83, 2.9 , 1.56, 2.23, 3.81, 2.75, 0.81, 4.  ,
       4.08, 1.55, 2.42, 2.99, 1.43, 1.66, 3.38, 4.42, 3.43, 3.65, 4.86,
       2.82, 1.05, 0.73, 1.21, 2.15, 3.6 , 1.73, 3.35, 0.37, 0.79, 0.99,
       1.86, 4.84, 3.09, 1.72, 3.29, 0.11, 4.04, 3.71, 3.79, 3.05, 0.84,
       1.98, 0.59, 0.36, 1.4 , 1.46, 2.02, 0.  , 0.93, 0.78, 4.48, 0.71,
       0.06, 0.87, 1.44, 4.36, 2.83, 2.58, 2.14, 0.15, 2.01, 2.18, 4.38,
       3.73, 2.97, 3.85, 3.95, 2.06, 3.84, 3.97, 4.44, 2.96, 3.44, 2.2 ,
       1.14, 2.37, 0.13, 3.89, 2.09, 4.79, 2.54, 0.19, 4.77, 0.76, 4.27,
       1.9 , 4.26, 3.19, 1.24, 1.67, 2.94, 0.49, 4.1 , 4.68, 2.26, 1.2 ,
       3.12, 3.67, 3.59, 3.46, 4.81, 2.79, 3.49, 1.77, 2.7 , 4.53, 0.39,
       1.07, 0.62, 3.96, 0.14, 0.83, 0.72, 3.98, 4.39, 4.56, 3.06, 2.92,
       0.95, 2.24, 3.18, 2.61, 2.33, 1.93, 4.52, 3.91, 4.58, 1.81, 3.01,
       2.16, 3.39, 3.51, 1.08, 1.99, 1.53, 4.73, 2.13, 1.34, 3.68, 2.04,
       1.45, 2.8 , 3.34, 2.52, 2.46, 3.92, 4.69, 0.63, 3.  , 4.31, 2.64,
       0.65, 2.65, 4.29, 2.62, 4.13, 0.45, 0.33, 3.25, 3.72, 1.54, 4.76,
       0.7 , 1.5 , 1.91, 0.05, 4.96, 4.7 , 3.57, 4.05, 4.98, 4.55, 2.77,
       1.52, 4.95, 2.08, 1.37, 1.49, 4.11, 2.1 , 4.85, 0.48, 2.88, 0.17,
       2.05, 0.41, 0.97, 4.25, 4.23, 2.28, 0.96, 4.6 , 4.65, 0.46, 4.03,
       1.06, 0.82, 4.06, 1.39, 1.03, 4.87, 1.48, 3.61, 3.74, 4.82, 0.75,
       2.38, 0.25, 0.53, 3.07, 3.99, 1.83, 0.21, 1.94, 0.55, 2.72, 2.48,
       1.61, 4.33, 0.32, 4.72, 0.31, 1.76, 4.74, 4.61, 1.28, 3.48, 0.34,
       2.41, 3.14, 3.54, 0.56, 3.76, 3.11, 0.69, 1.97, 4.59, 1.74, 0.26,
       0.16, 3.2 , 1.27, 3.5 , 0.38, 4.78, 3.21, 1.16, 1.1 , 2.27, 4.94,
       4.2 , 2.03, 1.95, 4.67, 2.93, 4.83, 0.12, 1.41, 1.68, 1.7 , 2.98,
       4.24, 1.18, 0.03, 0.67, 1.57, 0.02, 0.52, 0.91, 3.64, 4.4 , 0.44,
       3.56, 2.53, 1.85, 3.28, 3.77, 0.4 , 4.9 , 3.87, 0.74, 1.13, 0.28,
       4.45, 4.51, 3.41, 2.84, 0.66, 4.17, 4.37, 4.54, 2.3 , 1.17, 3.8 ,
       1.8 , 2.81, 1.84, 3.58, 1.3 , 2.44, 5.05, 2.95, 1.6 , 4.47, 3.7 ,
       2.87, 1.26, 1.78, 3.4 , 1.04, 4.89, 4.09, 3.1 , 0.64, 2.07, 0.98,
       2.19, 0.2 , 4.43, 4.02, 1.29, 2.31, 3.17, 4.01, 1.  , 3.23, 4.63,
       1.58, 2.57, 1.59, 0.1 , 5.01, 5.03, 1.42, 4.16, 1.02, 4.28, 0.51,
       1.11, 4.92, 3.66, 2.43, 1.33, 3.16, 4.99, 2.  , 1.23, 0.08, 3.33])

In [27]:
data.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [28]:
#min max values
print("minimum values of aluminium :", data["aluminium"].min())
print("mean values of alumimum :",data["aluminium"].mean())
print("maximum values of aluminium :", data["aluminium"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 0.6661582697837849
maximum values of aluminium : 5.05

In [29]:
#min max values
print("minimum values of aluminium :", data["chloramine"].min())
print("mean values of alumimum :",data["chloramine"].mean())
print("maximum values of aluminium :", data["chloramine"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 2.176830853856711
maximum values of aluminium : 8.68

In [30]:
#min max values
print("minimum values of aluminium :", data["copper"].min())
print("mean values of alumimum :",data["copper"].mean())
print("maximum values of aluminium :", data["copper"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 0.8058569821227803
maximum values of aluminium : 2.0

In [31]:
#min max values
print("minimum values of aluminium :", data["flouride"].min())
print("mean values of alumimum :",data["flouride"].mean())
print("maximum values of aluminium :", data["flouride"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 0.7715651956494554
maximum values of aluminium : 1.5

In [32]:
#min max values
print("minimum values of aluminium :", data["lead"].min())
print("mean values of alumimum :",data["lead"].mean())
print("maximum values of aluminium :", data["lead"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 0.09944968121015044
maximum values of aluminium : 0.2

In [33]:
#min max values
print("minimum values of aluminium :", data["nitrates"].min())
print("mean values of alumimum :",data["nitrates"].mean())
print("maximum values of aluminium :", data["nitrates"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 9.818822352794122
maximum values of aluminium : 19.83

In [34]:
#min max values
print("minimum values of aluminium :", data["radium"].min())
print("mean values of alumimum :",data["radium"].mean())
print("maximum values of aluminium :", data["radium"].max())

minimum values of aluminium : 0.0
mean values of alumimum : 2.920547568446073
maximum values of aluminium : 7.99

In [35]:
data.corr()

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
aluminium,1.000000,0.225773,0.294145,-0.099911,0.369309,0.353218,0.168612,-0.009784,-0.078238,-0.070863,0.020792,-0.003810,0.237307,-0.003306,0.363069,0.243217,-0.003672,0.334993,0.014711
arsenic,0.225773,1.000000,0.362945,0.334682,0.356559,0.312475,-0.036444,0.003792,0.035688,0.011703,-0.087756,0.027554,0.305005,-0.015404,0.332279,0.218204,-0.007009,0.307837,0.001455
barium,0.294145,0.362945,1.000000,-0.037803,0.446928,0.415972,0.065426,-0.018548,0.101259,-0.002276,-0.042888,-0.011331,0.312711,0.005987,0.462234,0.286569,0.035242,0.431606,-0.002440
cadmium,-0.099911,0.334682,-0.037803,1.000000,-0.144370,-0.157766,-0.109024,0.004880,-0.092431,0.021183,-0.034959,0.020194,-0.015682,-0.016174,-0.149344,-0.099259,0.010145,-0.155408,-0.005633
chloramine,0.369309,0.356559,0.446928,-0.144370,1.000000,0.555938,0.119059,0.004400,0.154510,0.003687,-0.030479,-0.001551,0.379685,-0.021472,0.588769,0.388806,0.011399,0.522447,-0.007658
chromium,0.353218,0.312475,0.415972,-0.157766,0.555938,1.000000,0.113043,-0.002284,0.142041,0.002430,-0.050501,-0.012793,0.335708,-0.022787,0.524532,0.315271,0.030539,0.510768,-0.005526
copper,0.168612,-0.036444,0.065426,-0.109024,0.119059,0.113043,1.000000,0.011683,0.149110,0.006292,0.121765,0.002332,0.162093,0.017626,0.104564,0.026215,-0.003267,0.089333,0.006978
flouride,-0.009784,0.003792,-0.018548,0.004880,0.004400,-0.002284,0.011683,1.000000,0.014134,0.018418,0.011905,-0.008140,-0.016669,-0.004400,-0.016191,0.007688,0.022629,0.014554,0.016792
bacteria,-0.078238,0.035688,0.101259,-0.092431,0.154510,0.142041,0.149110,0.014134,1.000000,0.618480,-0.027525,-0.033920,0.246252,-0.004471,0.147652,0.099298,-0.006971,0.148225,0.044839
viruses,-0.070863,0.011703,-0.002276,0.021183,0.003687,0.002430,0.006292,0.018418,0.618480,1.000000,0.017598,-0.044544,-0.091517,0.011416,0.003208,-0.020112,-0.035047,0.011861,0.058434
lead,0.020792,-0.087756,-0.042888,-0.034959,-0.030479,-0.050501,0.121765,0.011905,-0.027525,0.017598,1.000000,0.034978,-0.052405,-0.007832,-0.027709,-0.048741,0.031888,-0.057351,-0.009151
nitrates,-0.003810,0.027554,-0.011331,0.020194,-0.001551,-0.012793,0.002332,-0.008140,-0.033920,-0.044544,0.034978,1.000000,0.016936,-0.020458,-0.014020,-0.021410,0.043109,0.005218,0.000824
nitrites,0.237307,0.305005,0.312711,-0.015682,0.379685,0.335708,0.162093,-0.016669,0.246252,-0.091517,-0.052405,0.016936,1.000000,-0.016740,0.346172,0.272830,0.012150,0.332739,-0.009908
mercury,-0.003306,-0.015404,0.005987,-0.016174,-0.021472,-0.022787,0.017626,-0.004400,-0.004471,0.011416,-0.007832,-0.020458,-0.016740,1.000000,0.006106,0.032685,0.034637,0.006102,0.031704
perchlorate,0.363069,0.332279,0.462234,-0.149344,0.588769,0.524532,0.104564,-0.016191,0.147652,0.003208,-0.027709,-0.014020,0.346172,0.006106,1.000000,0.373028,0.014440,0.504604,0.000915
radium,0.243217,0.218204,0.286569,-0.099259,0.388806,0.315271,0.026215,0.007688,0.099298,-0.020112,-0.048741,-0.021410,0.272830,0.032685,0.373028,1.000000,0.028250,0.354006,0.020273
selenium,-0.003672,-0.007009,0.035242,0.010145,0.011399,0.030539,-0.003267,0.022629,-0.006971,-0.035047,0.031888,0.043109,0.012150,0.034637,0.014440,0.028250,1.000000,-0.019966,-0.022134
silver,0.334993,0.307837,0.431606,-0.155408,0.522447,0.510768,0.089333,0.014554,0.148225,0.011861,-0.057351,0.005218,0.332739,0.006102,0.504604,0.354006,-0.019966,1.000000,0.008153
uranium,0.014711,0.001455,-0.002440,-0.005633,-0.007658,-0.005526,0.006978,0.016792,0.044839,0.058434,-0.009151,0.000824,-0.009908,0.031704,0.000915,0.020273,-0.022134,0.008153,1.000000

In [36]:
data.corr().describe()

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000
mean,0.176608,0.194176,0.216091,0.014385,0.247156,0.229488,0.106074,0.055519,0.139891,0.080018,0.040086,0.051535,0.197719,0.053327,0.240227,0.182990,0.061914,0.228933,0.060138
std,0.259901,0.253906,0.269076,0.262965,0.296941,0.290023,0.228836,0.229062,0.260516,0.266965,0.237082,0.230783,0.254469,0.229986,0.293573,0.254745,0.228224,0.286768,0.228466
min,-0.099911,-0.087756,-0.042888,-0.157766,-0.144370,-0.157766,-0.109024,-0.018548,-0.092431,-0.091517,-0.087756,-0.044544,-0.091517,-0.022787,-0.149344,-0.099259,-0.035047,-0.155408,-0.022134
25%,-0.003741,0.002623,-0.002358,-0.104467,0.001068,-0.003905,0.006635,-0.006270,-0.005721,-0.011194,-0.045814,-0.013406,-0.012795,-0.015789,0.002061,0.013980,-0.005322,0.007128,-0.005579
50%,0.168612,0.218204,0.101259,-0.034959,0.154510,0.142041,0.065426,0.004880,0.099298,0.006292,-0.027525,-0.001551,0.237307,-0.003306,0.147652,0.099298,0.012150,0.148225,0.001455
75%,0.314569,0.322377,0.389459,0.007512,0.417867,0.384595,0.120412,0.014344,0.148668,0.018008,0.019195,0.018565,0.322725,0.014521,0.417631,0.300920,0.031213,0.392806,0.018532
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
data["mercury"].value_counts()

0.006    919
0.008    864
0.001    824
0.009    816
0.007    800
0.005    736
0.003    734
0.002    720
0.004    687
0.010    528
0.000    371
Name: mercury, dtype: int64

In [38]:
pd.Categorical(data["uranium"]).describe()

            counts     freqs
categories
0.0            594  0.074259
0.01           814  0.101763
0.02           968  0.121015
0.03           744  0.093012
0.04           815  0.101888
0.05           929  0.116140
0.06           920  0.115014
0.07           840  0.105013
0.08           928  0.116015
0.09           447  0.055882

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [40]:
data.columns

Index(['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'is_safe'],
      dtype='object')

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le = LabelEncoder()
var_mod = (['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'is_safe'])
for i in var_mod:
           data[i] = le.fit_transform(data[i]). astype(int)

In [43]:
data.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,162,2476,5,285,7,35,83,17,5,20,...,53,1463,113,7,2178,644,8,34,2,2
1,229,1222,2,331,2,514,68,66,90,65,...,99,166,193,3,1948,319,8,27,5,2
2,101,526,5,58,8,413,53,2,99,5,...,77,1283,111,6,2679,667,7,44,1,1
3,135,307,5,296,1,698,3,166,108,71,...,16,112,129,4,871,172,2,45,5,2
4,92,1511,4,20,6,258,69,57,61,13,...,116,596,111,3,1320,239,2,6,2,2